__pycache__
.venv
node_modules
.env
dist/
htmlcov
.coverage*
.testmondata*
.ruff_cache/
.pytest_cache/
*.egg-info/
.issues.lock
.DS_Store
scratch
.dogcats/config.local.toml
.dogcats/.issues.lock
src/cboard2/_version.py
